*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden;
    background-color: #FAFAFA;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.wrapper{
    display: flex;
    flex-direction: row;
    margin-top: 5rem;
   
}

.phone-screens{
    position: relative;
    order: 2;
}
.image-phone{
    position: absolute;
    width: 53.6%;
    right: 3.6rem;
    top: 1.5rem;
}
.login-forms{
    flex-direction: row;
    justify-content: space-evenly;
    order: 3;
    text-align: center;
    margin-bottom: 10rem;
    position: relative;
    width: 370px;
    height: 390px;
    background-color: #fff;
    border: 1px solid rgba(var(--b6a,219,219,219),1);
}

.login-forms input{
    font-size:12px;
    border: 1px solid #dbdbdb;
    width: 258px;
    height: 36px;
    padding: 12px 6px;
    background: #fafafa;
    text-overflow: ellipsis;
    margin: 5px;
    margin-bottom: 6px; 
}
.logo-instagram{
    margin-left: 2rem;
    margin-top: 3rem;
}
.input-area{
    margin-top: 1.5rem;
}
.input-password{
    position: relative;
}
.button{
    text-align: center;
    margin-top: 8px;
}
.button-login{
    background-color: rgba(0,149,246,.3);
    opacity: 1;
    width: 260px;
    height: 32px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: rgba(var(--eca,255,255,255),1);
}

.password-show{
    position: absolute;
    right: 4.8rem;    
    top: 0.9rem;
    font-size: 14px;
    font-weight: 600;
    color: #262626;
}
.non-disable{
    background-color: #0095f6;
}
.password-show:hover{
    cursor: pointer;
}
.login-options{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}
.text-seperator{
    color: #8e8e8e;
    font-size: 15px;
    flex-shrink: 0;
    margin: 5px;
    font-weight: 500;
    line-height: 13px;
    text-transform: uppercase;
}
.seperator{
    width: 90px;
    height: 1px;
    background-color: #dbdbdb;
    margin: 10px;
}
.log-instagram{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 8px;
}
.margin-login{
    margin: 15px;
}
.facebook-text{
    color: #385185;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}
.forget-pass a{
    font-size: 12px;
    text-decoration: none;
    line-height: 16px;
    color: #00376b;
}
.register{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    width: 370px;
    margin-top: 1.5rem;
    background-color: #fff;
    border: 1px solid #dbdbdb;
}
.register span{
    font-size: 14px;
}
.register a{
    text-decoration: none;
    color: #0095f6;
    font-weight: 600;
}

.image-block{
    margin-top: 1rem;
}
.image-block img{
    margin: 3px;
    cursor: pointer;
}
.play-app img{
    width: 35%;
}

.footer-info{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.footer-info a{
    font-size: 12px;
    line-height: 12px;
    margin: 5px;
    text-decoration: none;
    font-weight: 400;
    color: #8e8e8e;
}
footer select{
    color: #8e8e8e;
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    width: 62px;
}
.select-group{
    margin-top: 1rem;
}
.select-group span{
    color: #8e8e8e;
    font-weight: 400;
    font-size: 12px;
}




@media(max-width:900px){
    .phone-screens{
        display: none;
    }
}